/* ヘッダー */
header {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: #000;
    display: flex;
    justify-content: space-between;
}
header,
.link {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.return-link {
    position: fixed;
    top: 80px;
    z-index: 1500;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 36px;
    height: 36px;
    text-align: center;
    font-size: 32px;
    color: black;
    margin: 15px 0px 0px 15px;
}

.header__left {
    display: flex;
    width: 65%;
    align-items: center;
}
.header__right {
    width: 35%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__left__logo {
    width: 35%;
    margin: 0px auto;
}
.header__left__logo a {
    display: block;
    width: 70%;
    margin: 0 auto;
}
.header__left__logo img {
    width: 100%;
    height: auto;
}
.header__left--input {
    width: 65%;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__left--input__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header__left--input__inner input {
    width: 90%;
    border: none;
    font-size: 24px;
    padding: 5px 0px 5px 20px;
}
.header__left--input__inner button {
    width: 10%;
    justify-content: center;
    align-items: center;
}
.header__left--input__inner input::placeholder {
    color: #000;
}
.logout {
    color: #fff;
}
.header__right a {
    color: #fff;
    font-size: 18px;
}
.header__right a:last-child {
    padding: 3px 10px;
    background-color: #fff;
    color: #000;
}

/* メール確認ページ・プロフィールページ・アドレス作成ページ・出品ページ・アドレス一覧ページ 共通スタイル */
.profile-edit__container,
.address-edit__container,
.sell-edit__container,
.address-select__container,
.address-list__container,
.verification__container,
.admin-index__container {
    max-width: 680px;
    margin: 130px auto;
}

/* 認証フォーム */
.auth-link {
    display: block;
    text-align: center;
    margin-top: 30px;
}
/* 確認メール */
.verification__container__inner {
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 30px;
}

.verification__container__btn-group {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

/* 商品一覧ページ・お気に入り一覧ページ・マイページ　共通スタイル */
.link {
    width: 100vw;
    background-color: #fff;
}
.link button,
.link a {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    padding: 4px 8px 0px 8px;
}
.link a:hover {
    background-color: #d9d9d9;
}
.link a:last-child {
    margin-left: 100px;
}
.item__container {
    width: 95%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin: 50px auto;
}
.item__container__card {
    width: 200px;
    height: 200px;
}
/* 商品一覧ページ・お気に入り一覧ページ　共通スタイル */
.index__container,
.favorite-index__container {
    margin-top: 220px;
}
.index__container__link,
.favorite-index__container__link {
    top: 80px;
    padding: 70px 0px 0px 140px;
}

/* 詳細詳細ページ・コメントページ 共通スタイル */
.detail__container,
.comment__container {
    width: 85%;
    margin: 170px auto;
    display: flex;
}
.item__image {
    width: 45%;
    height: 550px;
    margin: 0 auto;
}
.item__detail {
    width: 45%;
    margin: 0 auto;
}
.item__detail h2 {
    margin-top: 24px;
}
.item__detail--price {
    font-size: 24px;
}
.item__detail a {
    margin: 12px auto;
}
/* マイページ */
.mypage__container {
    margin-top: 440px;
    z-index: 900;
}
.mypage__container--profile {
    width: 100%;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff !important;
    padding-top: 90px;
    padding-bottom: 10px;
    z-index: 1000;
}
.mypage__container--profile__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.mypage__container--profile__header {
    display: flex;
    align-items: center;
}
.mypage__container--profile__header h1 {
    margin-left: 36px;
    font-size: 24px;
}
.mypage__container__link {
    position: fixed;
    top: 325px;
    padding-left: 140px;
    padding-top: 30px;
    background-color: #fff;
}

/* 商品詳細ページ */
.item__detail--info--category,
.item__detail--info--condition {
    display: flex;
    margin: 20px auto;
}
.item__detail--info--category h3,
.item__detail--info--condition h3 {
    font-size: 16px;
    margin-right: 20px;
}
.item__detail--info--category p {
    border-radius: 15px;
    padding: 0 16px;
    margin-right: 10px;
}

/* コメントページ */
.item__detail--comment {
    margin: 80px 0px 60px;
    list-style: none;
}

.item__detail--comment__list {
    margin-bottom: 18px;
}
.item__detail--comment__list--user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.item__detail--comment__list--user--right {
    flex-direction: row-reverse;
}
.comment__user-img {
    width: 40px;
    height: 40px;
}
.item__detail--comment__list--user P {
    margin-left: 10px;
    font-weight: bold;
}
.item__detail--comment__list--user--right p {
    margin-right: 10px;
}
.item__detail--comment__list--text {
    padding: 5px;
    border-radius: 4px;
}
.item__detail--comment__list--delete {
    text-align: right;
}
.item__detail--comment__list--delete button {
    font-size: 12px;
    color: #ff5555;
    font-weight: bold;
}
.item__detail--comment__list--delete button:hover {
    color: #5f5f5f;
}
.item__detail--comment__header {
    display: flex;
    align-items: baseline;
}
.item__detail--comment__header p {
    margin-left: 10px;
}
.item__detail--default-comment {
    border: #5f5f5f 1px solid;
    border-radius: 4px;
    margin: 5px 0px;
    padding: 2px 3px;
}

/* プロフィールページ */
.profile-edit__container__img {
    display: flex;
    align-items: center;
    margin: 20px auto;
}
.profile-edit__container__img p {
    margin-left: 10px;
}

.custom-file-input {
    display: none;
}
.custom-file-label {
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
}

/* 出品ページ */
.input-file {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #5f5f5f dotted;
    min-height: 120px;
    height: auto;
}

.input-file input {
    justify-content: center;
    align-items: center;
}
.sell-edit__container--form__inner h2 {
    color: #5f5f5f;
    margin: 34px 0 20px;
}
.preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 100%;
}
.preview img {
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
}
.category-hidden {
    display: none;
}

/* 購入ページ */
.purchase__container {
    display: flex;
    width: 90%;
    margin: 100px auto;
}
.purchase__container--left {
    width: 60%;
    padding: 20px 50px;
}
.purchase__container--left--item {
    display: flex;
    min-height: 150px;
    height: 30%;
}
.purchase__container--left--item__img {
    width: 120px;
    height: 147px;
    margin: 0 30px;
}
.purchase__container--left--item--name a {
    display: block;
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
}
.purchase__container--left--item--name p {
    font-size: 20px;
    margin-top: 20px;
}
.purchase__container--left--payment {
    height: 70%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 20px 0px;
}
.purchase__container--left--payment__header {
    display: flex;
    justify-content: space-between;
}
.purchase__container--left--payment__header h2 {
    font-size: 20px;
}
.purchase__container--right {
    width: 40%;
    max-width: 440px;
}
.purchase__container--right--payment {
    width: 100%;
    padding: 60px 30px 30px;
}
.purchase__container--right--payment__list {
    margin: 28px auto;
}
.purchase__container--right--payment__list:nth-child(2) {
    color: #fff;
}
.purchase__container--right--payment__list {
    display: flex;
    justify-content: space-between;
}
.purchase__container--right a {
    margin-top: 80px;
}

/* 住所一覧ページ(select/list) 共通スタイル*/
.address-select__container--link,
.address-list__container--link {
    display: block;
    text-align: right;
}
.home-address-icon {
    display: inline-block;
    background-color: #5f5f5f;
    color: #fff;
    border-radius: 2px;
    padding: 2px 4px;
    font-size: 10px;
    margin-right: 5px;
}
.address-select__container__inner--address-detail,
.address-list__container__inner--address-detail {
    margin: 10px;
}
.address-select__container__inner,
.address-list__container__inner {
    display: flex;
    align-items: center;
    padding: 7px;
    margin: 5px 0px;
}
/* 住所一覧ページ(select) */
.address-select__container__inner:hover {
    background-color: #d9d9d9;
}
/* 住所一覧ページ(list) */
.address-list__container__inner {
    justify-content: space-between;
}
.address-list__container__inner--left {
    display: flex;
}
.address-list__container__inner--right a {
    margin-bottom: 10px;
}

/* 管理画面 */
.admin-index__container-delete-button {
    float: right;
    width: 10%;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}
/* 管理画面(詳細）ページ */
.admin-detail__container__table-row__header {
    width: 30%;
}
.admin-detail__container__table-row__description {
    width: 70%;
}
.admin-table-comment-description__li-created {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin-table-comment-description {
    list-style: none;
}
.admin-table-comment-description__li {
    border-bottom: #d9d9d9 1px solid;
    margin-bottom: 5px;
}
.admin-detail__container__mail-link {
    margin-top: 30px;
}
