/* Common styles */
html {
    box-sizing: border-box;
    background-color: #fff;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* ページのtitle要素 */
.header {
    text-align: center;
    margin-bottom: 60px;
}
a,
button,
input,
select,
option,
textarea {
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
}
textarea,
select {
    width: 100%;
}

/* formタグスタイル */
.form__inner-group {
    margin-bottom: 44px;
}
.form__inner-group p {
    font-weight: bold;
}

.form-input--style,
textarea {
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    padding: 8px;
}
.form-input--style input {
    width: 100%;
}

/* カラースタイル */
/* ピンクボタン要素 */
.btn--bg-pink {
    display: block;
    width: 100%;
    text-decoration: none;
    background-color: #ff5555;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 3px 0 3px 0;
}
.btn--bg-pink:hover {
    background-color: #5f5f5f;
}
/* ボーダーピンクボタン要素 */
.btn--border-pink {
    display: block;
    color: #ff5555;
    border: #ff5555 2px solid;
    border-radius: 10px;
    font-weight: bold;
    font-size: 22px;
    padding: 8px 22px;
}
.btn--border-pink:hover {
    color: #5f5f5f;
    border: #5f5f5f 2px solid;
}
/* ブルーリンク要素 */
.blue-link {
    font-weight: bold;
    color: #0073cc;
}
/* ボーダーボトムグレー要素 */
.border-bottom-gray {
    border-bottom: 2px #5f5f5f solid;
}
/* ボーダーグレー要素 */
.border-gray {
    border: 1px #5f5f5f solid;
}
/* 画像バックグラウンドグレー要素 */
.img-gray {
    background-color: #d9d9d9;
}
/* バリデーションエラー */
.error-message {
    color: #ff5555;
}
.alert {
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 6px 0px;
    font-weight: lighter;
    border-radius: 4px;
}
.alert-success {
    background-color: #0073cc;
}

/* プロフィール画像スタイル */
.profile__image {
    border: 1px #d9d9d9 solid;
    background-color: #d9d9d9;
    border-radius: 100px;
    width: 150px;
    height: 150px;
}
/* お気に入り・コメント要素 */
.icon {
    display: flex;
    margin: 20px 0px;
}
.star,
.comment {
    text-align: center;
    justify-content: center;
    margin-right: 36px;
}
.comment a {
    justify-content: center;
    align-items: center;
}
.star input {
    justify-content: center;
}
