/* Common styles */
html {
    box-sizing: border-box;
    background-color: #fff;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* ページのtitle要素 */
.header {
    text-align: center;
    margin-bottom: 40px;
}
.admin-header {
    color: #ff5555;
}

a,
button,
input,
select,
option,
textarea {
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
}
textarea,
select {
    width: 100%;
}

/* formタグスタイル */
.form__inner-group {
    margin-bottom: 44px;
}
.form__inner-group--tag {
    display: flex;
    margin-bottom: 4px;
    font-weight: bold;
}
.form__inner-group .form__inner-group p {
    font-weight: bold;
}
/* フォームの入力箇所スタイル */
.form-input--style,
textarea {
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    padding: 8px;
}
.form-input--style input {
    width: 100%;
}

/* 必須表示スタイル */
.required {
    background-color: #ff5555;
    color: #fff;
    border-radius: 2px;
    font-size: 14px;
    padding: 2px 4px;
    margin-left: 10px;
}

/* 戻るボタン */
.return-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 36px;
    height: 36px;
    text-align: center;
    font-size: 32px;
    color: black;
    margin: 15px 0px 0px 15px;
}
.return-link:hover {
    background-color: #d9d9d9;
    color: #fff;
}

/* カラースタイル */
/* ピンクボタン(親要素width:100％）要素 */
.btn--bg-pink {
    display: block;
    width: 100%;
    text-decoration: none;
    background-color: #ff5555;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 3px 0 3px 0;
}
.btn--bg-pink:hover {
    background-color: #5f5f5f;
}
/* ボーダーピンクボタン要素 */
.btn--border-pink {
    display: block;
    color: #ff5555;
    border: #ff5555 2px solid;
    border-radius: 10px;
    font-weight: bold;
    font-size: 22px;
    padding: 8px 22px;
}
/* ボーダーピンクボタン(小さめサイズ)要素 */
.btn--border-pink--small {
    display: block;
    color: #ff5555;
    border: #ff5555 2px solid;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 10px;
}
.btn--border-pink:hover,
.btn--border-pink--small:hover {
    color: #5f5f5f;
    border: #5f5f5f 2px solid;
}

/* ブルーリンク要素 */
.blue-link {
    font-weight: bold;
    color: #0073cc;
}
.blue-link:hover {
    color: #6ca7d4;
}

/* ボーダーボトムグレー要素 */
.border-bottom-gray {
    border-bottom: 2px #5f5f5f solid;
}
/* ボーダーグレー要素 */
.border-gray {
    border: 1px #5f5f5f solid;
}
/* 画像バックグラウンドグレー要素 */
.img-gray {
    background-color: #d9d9d9;
}
/* バリデーションエラー */
.error-message {
    color: #ff5555;
}
.alert {
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 6px 0px;
    font-weight: lighter;
    border-radius: 4px;
}
.alert-success {
    background-color: #0073cc;
}
.alert-danger {
    background-color: #5f5f5f;
}

/* プロフィール画像スタイル */
.profile__image {
    border: 1px #d9d9d9 solid;
    background-color: #d9d9d9;
    border-radius: 100px;
    width: 150px;
    height: 150px;
}

/* お気に入り・コメント要素 */
.icon {
    display: flex;
    margin: 20px 0px;
}
.star,
.comment {
    text-align: center;
    justify-content: center;
    margin-right: 36px;
}
.comment a {
    justify-content: center;
    align-items: center;
}
.star input {
    justify-content: center;
}

/* 管理画面テーブルスタイル */
.admin-table {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border-collapse: collapse;
    margin-top: 20px;
}
.admin-table-header {
    background-color: #d9d9d9;
    color: #5f5f5f;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}
.admin-table-row {
    border-bottom: 1px solid #ddd;
}
.admin-table-description {
    padding: 10px;
    text-align: left;
}

/* メール認証モーダルウィンドウ */
@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
#emailVerifyModal {
    display: none;
    position: fixed;
    z-index: 2000;
    top: 80px;
    right: 10px;
    width: 80%;
    max-width: 200px;
    height: auto;
    overflow: auto;
    margin: auto;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fefefe;
    animation: slideDown 0.5s ease-out; /* アニメーション名、期間、イージング関数 */
}
.mail-verify__modal__content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.modal__content__close-button {
    color: #aaa;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}
.modal__content_text-group {
    text-align: center;
}
.modal__content__text,
.modal__content__link {
    font-size: 12px;
}
.modal__content__close-button:hover,
.modal__content__close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 管理画面コメント用ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-item {
    margin: 0 0.25rem;
}

.page-item .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #5f5f5f;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.page-item .page-link:hover {
    z-index: 2;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #0073cc;
    border-color: #0073cc;
    cursor: default;
}

.page-item.disabled .page-link {
    color: #5f5f5f;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}
