@media (max-width: 1200px) {
    .header__left {
        width: 60%;
    }
    .header__right {
        width: 40%;
    }
    .header__right a,
    .header__right button,
    .header__left--input input::placeholder {
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    /* ヘッダー */
    header {
        display: flex;
        flex-direction: column;
    }
    .header__left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__left--input {
        width: 90%;
        margin: 10px auto;
    }
    .header__right {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .return-link {
        top: 160px;
        margin-left: 5px;
    }

    /* index.blade.php */
    .index__container,
    .favorite-index__container {
        margin-top: 280px;
    }

    .index__container__link,
    .favorite-index__container__link {
        top: 155px;
    }
    .link {
        width: 100%;
        margin-left: 0px;
        margin: 0px auto;
        display: flex;
        text-align: center;
        justify-content: space-around;
        font-size: 10px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .link a {
        font-size: 20px;
    }

    /* detail・comment.blade.php共通 */
    .detail__container,
    .comment__container,
    .purchase__container {
        width: 90%;
        margin-top: 200px;
        flex-direction: column;
    }
    .item__detail,
    .item__image {
        width: 90%;
        margin-top: 40px;
    }

    /* mypage.blade.php */
    .mypage__container {
        margin-top: 580px;
    }
    .mypage__container--profile {
        padding-top: 74px;
        padding-bottom: 40px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
    }
    .mypage__container--profile__inner {
        width: 100%;
        flex-direction: column;
    }
    .mypage__container__link {
        top: 470px;
        padding-top: 35px;
    }
    .mypage__container--profile__header {
        margin-bottom: 30px;
    }

    /* profile.blade.php */
    .profile-edit__container,
    .sell-edit__container,
    .address-select__container,
    .address-edit__container,
    .address-list__container,
    .admin-index__container {
        width: 90%;
        margin-top: 200px;
    }
    .profile-edit__container__img {
        flex-direction: column;
    }
    .profile-edit__container__img img {
        margin-bottom: 10px;
    }

    .profile-edit__container__img button {
        margin-left: 0px;
        margin-top: 10px;
    }
    /* purchase.blade.php */
    .purchase__container--left,
    .purchase__container--right {
        width: 95%;
        max-width: 768px;
        margin: 0 auto;
    }
    /* 管理画面詳細ページ */
    .admin-detail__container__table-row__header,
    .admin-detail__container__table-row__description {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .admin-detail__container__table-row__description-select {
        text-align: center;
    }
}
