.item__image__content {
    width: 100%;
    height: 100%;
    min-height: 400px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

/* スライダ―のCSS */
.slider {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.slide {
    min-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ボタンのCSS */
.slider__btn__ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}
.slider__btn__ul-li {
    list-style: none;
}
.slider__btn__ul-li-link {
    display: block;
    border-radius: 50%;
    overflow: hidden;
}
.slider__btn__ul-li-link img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
