/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
docker/mysql/data/*.ibd
docker/mysql/data/*.log
docker/mysql/data/*.frm
docker/mysql/data/*.MRG
docker/mysql/data/*.MYD
docker/mysql/data/*.MYI
docker/mysql/data/ib_logfile*
docker/mysql/data/ibdata*
docker/mysql/data/#*
